caption{
    border-radius: 300%;
    background-color: black;
    color: aliceblue;
    font-style: oblique;

}

th, td{
    border: 5px outset;
    position: unset;
    width: 10%;
    margin: 2%;

}


.ingles{
    background-color: green;
}
.Sinformatica{
    background-color: rgb(236, 0, 193);
}
.ServRed{
    background-color: dodgerblue;
}
.SOR{
    background-color: limegreen;
}
.Apweb{
    background-color: gold;
}