caption{
    border-radius: 50px;
    background-color: black;
    color: aliceblue;
    font-style: oblique;
    padding: 15px;
    font-size: larger;

}
th{
    background-color: chocolate;
}

th:nth-child(1){
    background-color: white;
    border: 0px;
}

td:nth-child(1){background-color: aquamarine;

}

th, td{
    border: 5px outset;
    position: unset;
    width: 10%;
    margin: 2%;
    padding: 2%;
}


.ingles{
    background-color: green;
}
.Sinformatica{
    background-color: rgb(236, 0, 193);
}
.ServRed{
    background-color: dodgerblue;
}
.SOR{
    background-color: limegreen;
}
.Apweb{
    background-color: gold;
}
.Empresa{
    background-color: salmon;
}
.recreo{
    background-position: center ;
    background-color: cyan;
}