body {
    font-size: 16px;
    margin: 0;
    font-family: Montserrat, 'Courier New';
}

header img {
    border-radius: 100px;
    width: 180px;
}

header h1 {
    text-shadow: 2px 3px 0px rgb(128, 64, 144);
}

header {
    color: white;
    text-align: center;
    padding: 2%;
    background: rgb(210, 83, 245);
    background: radial-gradient(circle, rgba(210, 83, 245, 1) 0%, rgba(148, 187, 233, 1) 100%);
    font-size: 20px;
}

nav {
    justify-content: space-between;
    background-color: #94bbe9;
    display: flex;
    grid-area: nav;
}

section {
    padding-left: 15px;
}

section:not(:last-child) {
    border-bottom: 1px solid grey;
}

.knowledge {
    justify-content: space-between;
    display: grid;
    grid-template-columns: 50% 50%;

}

footer {
    background-color: #94bbe9;
    min-height: 100px;
    text-align: end;
    padding: 20px 15px;
}

#skills ul>li:before {
    content: "►";
    padding-right: 0.5em;
    color: #509e98;
}

#skills .languages ul>li:before {
    content: '';
    padding-right: 0em;
}

#skills ul {
    list-style: none;
}

h3 {
    color: rgb(122, 38, 125);
}

h4 {
    color: rgb(161, 0, 179);
}

.caja {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 174, 255);
    margin: 5px;
    padding: 5px;
    border: 1px;
    text-align: center;
    border: 1px;
}
.contenedor {
    justify-content: center;
    display:flex ;
    text-align: center;
    border: 1px;
    display: flex;
    background-color: #555 09e9;
    justify-content: space-between;
    flex-direction: row;
}

