.container {
    display: grid;
    grid-template-rows: 20% 65% 15%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas:
        "header header header header"
        "main main . aside"
        "footer footer footer footer";
    height: 100vh;
}
.container header{
    grid-area: header;
}
.container  main{
    background-color: gold;
    grid-area: main;
}
.container footer{
    background-color: darkviolet;
     grid-area: footer;
}
.container aside{
    background-color: coral;
    grid-area: aside;
}
header{
    background-color: blue;
}